body {
  margin: 0;
}
.knapsack {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #f5b157;
  height: 700px;
  width: 100%;
  font-weight: bolder;
}

input {
  padding: 1rem;
  width: 18%;
}

button {
  padding: 0.9rem 4.5rem;
}
.add,
.Reset,
.done {
  border-radius: 10px;
  cursor: pointer;
}

.add {
  background-color: brown;
  color: aliceblue;
  border: 1px solid brown;
  width: 20%;
}

.Reset {
  background-color: cadetblue;
  color: aliceblue;
  border: 1px solid cadetblue;
  width: 20%;
  cursor: pointer;
}

select {
  outline: 0;
  background-image: none;
  width: 20%;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  padding: 1rem;
}

.total {
  background-color: rgb(4, 87, 15);
  padding: 20px 150px;
  color: #f8f4f4;
}

.done {
  width: 20%;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  background-color: wheat;
  border: 1px solid wheat;
}

i {
  font-size: 20px;
}
